<% if (userRecord && userRecord.id) { %>
    <form id="userForm" method="POST" action="/admin/user/update/<%= userRecord.id %>">
<% } else { %>
    <form id="userForm" method="POST" action="/admin/user/create">
<% } %>
        <div class="form-group row">

            <label class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="firstName" value="<% if (userRecord.firstName) { %><%= userRecord.firstName %><% } %>">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="email" value="<% if (userRecord.email) { %><%= userRecord.email %><% } %>">
            </div>
        </div>

        <div class="hr-line-dashed"></div>
        <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-2">
                <a href="/admin/users" class="btn btn-white btn-sm">Cancel</a>
                <button class="btn btn-primary btn-sm" type="submit">Save changes</button>
            </div>
        </div>
    </form>
    <% if(req.session.flash) { %>
      <script type="text/javascript">
        $(document).ready(function() {
          toastrDisplay("<%= req.session.flash.type %>", "<%= req.session.flash.message %>");
        });
      </script>
      <% req.session.flash = {}; %> <% }%>
      <script>
        $(document).ready(function() {

          var validator = $("#userForm").validate({
            rules: {
              firstName: { required: true },
              email: {
                required: true,
                email: true,

              }
            },
            messages: {
              firstName: { required: "First Name is required" },
              email: { required: "Email is required", email: "Invalid email id",remote:'Email address already exist' },
            },
          });
        });

      </script>
